---
import DetailTable from "../detail-table.astro";

export interface Props {
    id?: string;

    class?: Classname;
    isRhs?: boolean;
    title: string;
    titleExtra?: boolean;
    sup?: string;

    entries: Record<string, readonly string[]>;
}

const {
    id,
    class: classname,
    isRhs,
    title,
    titleExtra,
    sup,
    entries,
} = Astro.props;
---

<section class:list={[classname]} id={id}>
    <w class:list={[isRhs ? "reverse" : ""]}>
        <div class="h2-slick-wrapper">
            <h2 class={`text-slick${titleExtra ? "-extra" : ""}`}>{title}</h2>
            {
                sup && (
                    <sup
                        class:list={[
                            "text-slick",
                            "text-tabular",
                            isRhs ? "lhs" : "",
                        ]}
                    >
                        {sup}
                    </sup>
                )
            }
        </div>
    </w>
    <h class:list={["space-section-2x", isRhs ? "reverse" : ""]}>
        <v class="w1"></v>
        <v class="w3">
            <p class="space-table-top text-just">
                <slot />
            </p>
        </v>
        <v class="w1"></v>
        <v class="w7">
            {
                Object.entries(entries).map(([name, items], i) => (
                    <DetailTable
                        class:list={[i !== 0 ? "space-section-2x" : undefined]}
                        title={name}
                        titleW={2}
                        contentW={3}
                        slick={true}
                    >
                        <div class="text-stack-slick">
                            {items.map((item) => (
                                <p class="text-slick">{item}</p>
                            ))}
                        </div>
                    </DetailTable>
                ))
            }
        </v>
    </h>
</section>
