---
import Emblem from "##/public/emblem.svg";
import { HomeData } from "##/constants/home-data";
---

<section class="home-section" id="section-home">
    <h class="home-menu-container">
        <v class="w1">
            <img
                class="home-hero-emblem"
                src={Emblem.src}
                width={Emblem.width}
                height={Emblem.height}
                loading="eager"
                decoding="async"
                fetchpriority="high"
                alt="howion.com emblem"
            />
        </v>
        <v class="wauto wmin1"></v>
        <v class="w6 horizontal home-menu-wrapper">
            <v class="w1">
                <div class="home-menu">
                    <dim class="p text-slick">NAVIGATION</dim>
                    <div class="text-stack-slick">
                        <a class="text-slick" href="#">BLOG</a>
                        <a class="text-slick" href="#">RESOURCES</a>
                        <a class="text-slick" href="#">SOURCE</a>
                    </div>
                </div>
            </v>
            <v class="w1"></v>
            <v class="w1">
                <div class="home-menu">
                    <dim class="p text-slick">LOCATION</dim>
                    <div class="text-stack-slick">
                        <p class="text-slick">METU</p>
                        <p class="text-slick">06800 ANKARA</p>
                        <p class="text-slick">TURKIYE</p>
                        <p class="text-slick"></p>
                        <p class="text-slick">UTC +3</p>
                    </div>
                </div>
            </v>
            <v class="w1"></v>
            <v class="w2">
                <div class="home-menu">
                    <dim class="p text-slick">CONTACT</dim>
                    <div class="text-stack-slick">
                        <p class="text-slick">{HomeData.contactMails[0]}</p>
                        <p class="text-slick">{HomeData.contactPhone}</p>
                        <p class="text-slick"></p>
                        <p class="text-slick">
                            {
                                HomeData.contactAvailableForHire ? "" : "NOT "
                            }AVAILABLE FOR HIRE
                        </p>
                    </div>
                </div>
            </v>
        </v>
    </h>
    <h>
        <v
            class="wmax home-hero-title"
            data-parallax-style="translateY(calc($*0.25))"
        >
            <!-- <h1 class="slick uppercase text-slick">
                MAPPING{""}<dim>\\</dim>{""}THE
            </h1>
            <h1 class="slick uppercase text-slick">
                <dim>••••</dim>INTELLIGIBLE<dim>\\</dim>TO THE
            </h1>
            <h1 class="slick uppercase text-slick">SENSIBLE</h1> -->
            <h1 class="text-slick text-wrap">
                MAPPING<dim class="text-nowrap">&nbsp;\\&nbsp;</dim>THE{" "}<dim
                    >••••&nbsp;</dim
                >INTELLIGIBLE<dim class="text-nowrap">&nbsp;\\&nbsp;</dim>TO THE
                SENSIBLE
            </h1>
        </v>
    </h>
    <h>
        <v class="wauto"></v>
        <v class="w3 space-section-8x">
            <p class="text-just" data-parallax-style="translateY(calc($*-0.2))">
                A Mathematician and Developer exploring boundaries between
                abstraction and experience.
                <br />
                <br />
                I build systems where logic finds shape and structure meets design.
            </p>
        </v>
        <v class="w1"></v>
    </h>
</section>
