---
import { HomeData } from "##/constants/home-data";
import DetailTable from "../detail-table.astro";

export interface Props {
    class?: Classname;
}

const { class: classname } = Astro.props;
---

<section class:list={[classname]}>
    <w>
        <div class="h2-slick-wrapper" data-parallax-speed="0.8">
            <h2 class="text-slick">Let's Connect</h2>
        </div>
    </w>
    <DetailTable
        class="space-section-5x"
        title="Contact"
        titleW={2}
        contentW={3}
        slick={true}
    >
        <div class="text-stack-slick">
            {
                HomeData.contactMails.map((mail) => (
                    <p class="text-slick">* {mail}</p>
                ))
            }
            <p class="text-slick"></p>
            <p class="text-slick">* {HomeData.contactPhone}</p>
        </div>
    </DetailTable>
    <DetailTable
        class="space-section-3x"
        title="Available For"
        titleW={2}
        contentW={3}
        slick={true}
    >
        <div class="text-stack-slick">
            {
                HomeData.contactAvailableFor.map((item) => (
                    <p class="text-slick">{item ? `* ${item}` : ""}</p>
                ))
            }
        </div>
    </DetailTable>
    <DetailTable
        class="space-section-3x"
        title="Socials"
        titleW={2}
        contentW={3}
        slick={true}
    >
        <div class="text-stack-slick">
            {
                Object.entries(HomeData.contactSocials).map(([site, link]) => (
                    <a
                        class="text-slick"
                        href={link}
                        target={link !== "#" ? "_blank" : undefined}
                    >
                        * {site}
                    </a>
                ))
            }
        </div>
    </DetailTable>
</section>
