---
import { HomeData } from "##/constants/home-data";
import { APP } from "##/.boilerrc";
import DetailTable from "./detail-table.astro";

export interface Props {
    class?: Classname;
}

const { class: classname } = Astro.props;
---

<footer class="footer" class:list={[classname]}>
    <h class="footer-head">
        <v class="w5"><span class="footer-head-title text-slick">MERT</span></v>
        <v class="w1"></v>
        <v class="w6"
            ><span class="footer-head-title text-slick">HOWION</span></v
        >
    </h>
    <h class="footer-body" data-parallax-style="translateY(calc($*0.05))">
        <v class="w5">
            <DetailTable title="Website" titleW={1} contentW={2} slick={true}>
                <div class="text-stack-slick">
                    <a
                        class="text-slick"
                        href="https://github.com/howion/howion.com-v2"
                        target="_blank"
                        rel="noopener noreferrer"
                        title="Source Code"
                    >
                        * Source Code
                    </a>
                    <a
                        class="text-slick"
                        href={`${APP.site}sitemap-index.xml`}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        * Sitemap.xml
                    </a>
                    <p class="text-slick"></p>
                    <p class="text-slick"><dim>* Konami Cheat Code</dim></p>
                </div>
            </DetailTable>
        </v>
        <v class="w1"></v>
        <v class="w6">
            <DetailTable title="Contact" titleW={1} contentW={3} slick={true}>
                <div class="text-stack-slick">
                    <p class="text-slick">{HomeData.contactMails[0]}</p>
                    <p class="text-slick">{HomeData.contactPhone}</p>
                    <p class="text-slick"></p>
                    <p class="text-slick">
                        {
                            HomeData.contactAvailableForHire ? "" : "NOT "
                        }AVAILABLE FOR HIRE
                    </p>
                </div>
            </DetailTable>
        </v>
    </h>
    <h
        class="footer-foot space-section-6x"
        data-parallax-style="translateY(calc($*0.2))"
    >
        <v class="w5">
            <span class="text-slick-extra">OMER MERT COSKUN © 2025</span>
        </v>
        <v class="w1"></v>
        <v class="w6">
            <span class="text-slick-extra dim">
                Licensed under the AGPLv3 with Additional Terms
            </span>
        </v>
    </h>
</footer>
